<h1>Create a Team and Heroes!</h1>
  <form method="POST" action="/teams">
    <label>Team Name:<input type="text" name="team[name]" id="team[name]"></label><br>
    <label>Team Motto:<input type="text" name="team[motto]" id="team[motto]"></label><br>

    <%hero_count = [1,2,3]%>
    <%hero_count.each do |number| %>
      <h2>Hero <%=number%></h2>

      <label>Hero's Name:<input type="text" name="team[heroes][][name]" id="member<%=number%>_name"></label><br>
      <label>Hero's Power:<input type="text" name="team[heroes][][power]" id="member<%=number%>_name"></label><br>
      <label>Hero's Biography:<input type="text" name="team[heroes][][biography]" id="member<%=number%>_name"></label><br>

    <%end%>

    <input type="submit" value="submit">
  </form>
